* {
  box-sizing: border-box;
}

.wrapper {
  min-width: 400px;
  height: 200px;
  padding-left: 5px;
  position: relative;
}
.wrapper-list {
  background: rgba(182, 176, 176, 0.5);
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}
.wrapper-list::before {
  content: "";
  width: 1px;
  height: calc(100% - 23px);
  position: absolute;
  border-left: 1px dotted black;
  top: 14px;
  left: 20px;
  z-index: -3;
}
.list {
  display: block;
  list-style: none;
}
.list.active {
  display: block;
}
.list-item {
  position: relative;
  margin: 8px 0 0;
}

.gorisontal {
  height: 0;
  border-top: 1px dotted #000;
  position: absolute;
  right: 100%;
  top: 10px;
  z-index: -1;
}
.name {
  border: 1px solid black;
  background: #fff;
  padding-left: 10px;
  text-align: left;
  border-radius: 5px;
  min-width: 200px;
  cursor: pointer;
}
.name:hover {
  background: rgb(209, 204, 204);
}
.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
label {
  display: block;
}
.input_wrapper {
  height: 50px;
  margin: 20px auto;
}
.input_wrapper > input {
  width: 100%;
}
.sub_button {
  width: 40%;
  display: block;
  margin: 0 auto;
}
